<h1>Contact Us</h1>
<p id='contact-message'>If you have any questions or comments about our products feel free to contact us by phone, email or by filling out the form below.</p>
<p class='contact-method'>
	<span class='contact_type'>Phone:</span>310-513-5220
</p>
<p class='contact-method'>
	<%= mail_to "info@floattuberodholders.com" do %>
		<span class='contact_type'>Email:</span>info@floattuberodholders.com
	<% end %>
</p>
<%= form_for @inquiry, url: main_app.inquiries_path do |form| %>
	<div>
		<%= form.label :first_name, class: 'inquiry_label' %>
		<%= form.text_field :first_name, class: 'name_field required inquiry' %>
	</div>
	<div>
		<%= form.label :last_name, class: 'inquiry_label' %>
		<%= form.text_field :last_name, class: 'name_field required inquiry' %>
	</div>
	<div>
		<%= form.label :email, class: 'inquiry_label' %>
		<%= form.email_field :email, class: 'email_field required inquiry' %>
	</div>
	<div>
		<%= form.label :phone, class: 'inquiry_label' %>
		<%= form.text_field :phone, class: 'inquiry phone required' %>
	</div>
	<div>
		<%= form.label :comments, class: 'inquiry_label' %>
		<%= text_area :inquiry, :comments, cols: 48, rows: 12, class: 'inquiry comments required' %>
	</div>
	<div>
		<%= form.submit 'Submit' %>
	</div>
<% end %>
<script>$('#new_inquiry').validate();</script>